/* ===== GLOBAL ===== */

.root {
    -fx-font-family: "Segoe UI", "Roboto", sans-serif;
    -fx-background-color: white;
}


/* ===== WEEK HEADER ===== */

.weeklyView-top {
        -fx-padding: 10;
        -fx-background-color: rgba(0, 186, 253, 0.20);
        -fx-border-color: rgba(0,0,0,0.1);
        -fx-border-width: 1 0 1 0;
}

.weeklyView-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.weeklyView-prevWeek,
.weeklyView-nextWeek {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-padding: 20;
}

.weeklyView-prevWeek:hover,
.weeklyView-nextWeek:hover {
    -fx-background-color: grey;
}

/* ===== DAY COLUMN ===== */

.dailyView {
    -fx-pref-width: 170;
    -fx-min-width: 150;
    -fx-spacing: 0;
}

.dailyView-header {
    -fx-pref-height: 60;
    -fx-min-height: 60;
    -fx-alignment: center;
    -fx-border-width: 0 0 1 0;
}

.dailyView-activities {
    -fx-padding: 8;
    -fx-spacing: 8;
}

.scroll{
    -fx-fit-to-width: true;
}

.dailyView-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


/* ====== ACTIVITY ======== */

.activityView {
    -fx-pref-height: 110;
    -fx-padding: 8;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-spacing: 3;
}

.activityView-planned {
    -fx-background-color: white;
    -fx-border-color: orange;
    -fx-border-width: 0 0 0 4;
}

.activityView-completed {
    -fx-background-color: white;
    -fx-border-color: green;
    -fx-border-width: 0 0 0 4;
}

.activityView-expired {
    -fx-background-color: white;
    -fx-border-color: rgb(255, 0, 0);
    -fx-border-width: 0 0 0 4;
}

.activity-title {
    -fx-font-weight: bold;
}

.activityView-tripleDot {
    -fx-background-color: transparent;
    -fx-font-size: 15px;
    -fx-padding: 2 6 2 6;
    -fx-cursor: hand;
}

.activityView-tripleDot:hover {
    -fx-background-color: rgba(0,0,0,0.08);
    -fx-background-radius: 6;

}

.activityView-check{
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-padding: 2 6 2 6;
    -fx-cursor: hand;
    -fx-color-label-visible: green;
}

.activityView-check:hover {
    -fx-background-color: rgba(0,0,0,0.08);
    -fx-background-radius: 6;
}


.completeActivityForm {
    -fx-spacing: 10;
    -fx-padding: 2 6 2 6;
    -fx-pref-height: 110;
}